@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600;800&display=swap');


@import "tailwindcss";


/* في index.css أو App.css */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
body {
  font-family: 'Cairo', serif;
}
h1, h2, h3 {
  font-family: 'Amiri', serif;
}